h1{
	font-family: "Comic Sans MS", cursive, sans-serif;
	color: white;
}

div.transbox{
	text-align: center;
	margin-top: 5%;
	margin-left: 30%;
	margin-right: 30%;
	background-color: black;
	opacity:0.9;
}

div.transbox p{
	font-size: 20;
	margin-left: 10%;
	margin-right: 10%;
	font-family: "Comic Sans MS", cursive, sans-serif;
	font-weight: bold;
	color: white;
}

div.transbox p.shaco{
	color: red;
	font-size: 21;
	font-family: Impact, Charcoal, sans-serif;
}


body.shaco{
	background-image: url("shaco.jpg") ;
	background-position: center top;
	background-repeat: no-repeat;
	background-size: cover;
}

body.profile{
	background-image: url("profile.jpg") ;
	background-position: center top;
	background-repeat: no-repeat;
	background-size: cover;
}

body.prison{
	background-image: url("prison.jpg") ;
	background-position: center top;
	background-repeat: no-repeat;
	background-size: cover;
}


a:link {
	color: white;
}

a:hover {
	color: red;
}

a:visited {
	color: cyan;
}

a:visited:hover{
	color: red;
}
