{% extends "master.html" %}

{% block body %}

{% if not logged %}
<div class="form-container">
  <form method="post">
    <h1 class="form-title">Please Login With Google Account</h1>
    {% if err %}
      <p class="form-error">{{err}}</p>
    {% endif %}
    <h2 class="form-label">Username</h2>
    <input type="text" name="username" class="form-boxes">
    <h2 class="form-label">Password</h2>
    <input type="password" name="password" class="form-boxes">
    <button type="submit" class="form-button">Login</button>
  </form>
</div>
{% else %}
<div class="trend-container">
  <h3 id="trend-title"></h3>
  <canvas id="chart" width="800" height="300"></canvas>
</div>
<div class="search-contain">
  <form action="javascript:;">
    <input type="text" id="query" class="search-bar">
    <button type="submit" id="search" class="search-button">Search</button>
  </form>
</div>

<hr class="divider">
<div class="auto-trend-container">
  <div class="popular-contain">
    <h1 class="popular-title">Trending Searches</h1>
    <ul id="popular-list">
    {% for term in popular %}
      <li class="popular-term">{{term}}</li>
    {% endfor %}
    </ul>
  </div>
  <div id="pop-contain" class="auto-trend">
  </div>
</div>

{% endif %}

{% endblock %}
