@font-face {
	font-family: "Terminus";
	src: url("/font/TerminusTTF") format("truetype");
}

html, body { 
margin : 0;
padding : 0;
} 
body { 
font : 73% Arial, "Trebuchet MS", Helvetica, Tahoma, sans-serif;
background : #ccc;
color : #555;
}

/* CODE */
.code {
	background: #000;
	color: #fff;
	font-family: "Terminus";
	padding: 10px;
}

/* Collapsable list */

ul.collapsibleList{
	position: relative;
	left: -15px;
}

li.collapsibleListOpen{
	list-style-image:url("/images/collapse.gif");
	cursor: pointer;
}

li.collapsibleListClosed{
	list-style-image:url("/images/expand.png");
	cursor: pointer;
}

li.treeEnd{
	list-style-image:url("/images/bullet-black1.png");
	cursor:auto;
}

			/*WRAP*/
#wrap { 
width : 770px;
margin-left : auto;
margin-right : auto;
padding : 0;
border : 10px solid #fff;
color : #555;
background : #fff url(images/wrap_bg.jpg) repeat-x;
} 
			/*BANNER*/
#masthead { 
height : 100px;
padding : 0;
margin-bottom : 0;
} 
			/*MAIN CONTAINER*/
#container { 
width : 770px;
margin-left : auto;
margin-right : auto;
margin-top : 10px;
padding : 0;
line-height : 1.8em;
} 
#menucontainer { 
position : relative;
height : 56px;
color : #e0e0e0;
background : #143d55;
width : 100%;
font-family : Helvetica, Arial, Verdana, sans-serif;
} 
#menunav { 
position : relative;
height : 33px;
font-size : 12px;
text-transform : uppercase;
font-weight : bold;
background : #fff url(images/menu_bg.gif) repeat-x bottom left;
padding : 0 20 20 20px;
} 

#menunav ul { 
margin : 0 5 0 0px;
padding : 0;
list-style-type : none;
width : auto;
float : left;
-webkit-transition: .1s;
transition: .3s;
color : #eaf3f8;
} 

#menunav ul li {
display : block;
float : left;
padding : 10 10px;
margin: 0 10px;
list-style: none;
height: 32px;
-webkit-transition: .1s;
transition: .3s;
}

#menunav ul li a { 
display : block;
float : left;
color : #eaf3f8;
text-decoration : none;
padding : 10 10 10 10px;
list-style: none;
transition: .3s;
-webkit-transition: .1s;
} 

#menunav ul li a span { 
padding : 12px 20px 0 0;
height : 21px;
float : left;
} 
#menunav ul li a:hover { 
color : #fff;
background : #1d6893; /*url(images/menu_bg-OVER.gif) repeat-x bottom left;*/
} 
#menunav ul li a:hover span { 
display : block;
width : auto;
cursor : pointer;
} 
#menunav ul li a.current, #menunav ul li a.current:hover { 
color : #fff;
background : #1d6893; /*url(images/menu_left-ON.gif) no-repeat top left;*/
line-height : 275%;
} 
#menunav ul li a.current span { 
display : block;
padding : 0 20px 0 0;
width : auto;
background : #1d6893; /*url(images/menu_right-ON.gif) no-repeat top right;*/
height : 33px;
} 

#menunav ul ul {
			position: absolute;
			top: 100%;
			visibility: hidden;
			opacity: 0;
}

#menunav ul ul ul li {
    position : relative;
    left : -10px;
    top : -15px;
    padding : 5px;
    background : #1d6893;
}

#menunav ul ul ul li a.current, #menunav ul ul ul li a.current:hover {
    color : #fff;
}

#menunav ul ul li {
	float: left;
	text-decoration: none;
	transition: .3s;
	-webkit-transition: .1s;
	position : relative;
	top : 5px;
}

#menunav li:hover > ul {
	visibility: visible;
	opacity: 1;
}
			/*TOP NAVIGATION*/
#content { 
padding : 0 1em 0 1em;
margin : 0 240px 0 0;
border-right : 1px solid #eee;
} 
			/*SIDEBAR*/
#sidebar { 
float : right;
width : 200px;
margin-top : 0;
padding : 0 1em 0 1em;
} 
			/*FOOTER*/
#footer { 
clear : both;
height : 50px;
padding : 0;
margin-bottom : 0;
margin-top : 20px;
text-align : center;
border-top : 5px solid #4592be;
color : #fff;
background : #143d55;
} 
			/*TYPOGRAPHY*/
h1 { 
float : left;
margin : 0;
padding : 20px 0 20px 25px;
font : 150% "Trebuchet MS", Helvetica, Arial, Tahoma, sans-serif;
letter-spacing : 5px;
color : #fff;
} 
h2 { 
float : right;
margin : 0;
padding : 5px 20px 5px 0px;
font : 90% "Trebuchet MS", Helvetica, Arial, Tahoma, sans-serif;
letter-spacing : 3px;
color : #4592be;
} 
h3 { 
margin : 0;
padding : 20px 0 20px 0;
border-bottom : 1px solid #aaa;
font : 150% "Trebuchet MS", Helvetica, Arial, Tahoma, sans-serif;
text-transform : uppercase;
letter-spacing : 3px;
color : #143c55;
}
blockquote {
/*font-weight : bold;*/
font-style : italic;
color : #808080;
padding-left: 15px;
border-left : 1px solid #E0E0E0;
} 
			/*LINKS*/
a:link, a:visited { 
color : #4592be;
background : inherit;
text-decoration : underline;
} 
a:hover { 
color : #aaa;
background : inherit;
text-decoration : none;
} 
a img {
border: 0;
}
			/*IMAGES*/
.left { 
float : left;
border : 0 solid #656c4a;
margin : 5px 0 10px 0;
padding : 10px;
} 
			/*SEARCH BOX*/
legend { 
margin-bottom : 30px;
color : #143c55;
} 
input { 
background : #eee;
} 
