<!DOCTYPE HTML>
<head>
<title>About</title>
</head>
<body>
<h1 style="text-align:center;font-size:500%;color:green">
Smack in the middle
</h1>
<p style="text-align:right;font-family:courier;font-size:200%">
HEY OVER HERE!
</p>
<br><br>
Table Time
<br><br>
<table border="1">
  <tr>
    <th>LOOK</th>
    <th>headings</th>
    <th>damn</th>
  </tr>
  <tr>
    <td>Mint</td>
    <td>fresh</td>
    <td>cool</td>
  </tr>
  <tr>
    <td>as a</td>
    <td>cucumber</td>
    <td>filler</td>
  </tr>
</table>
<p style="text-align:center;font-size:200%">
Now for a ordered list
<ol>
  <li>Stuff1</li>
  <li>stuff23</li>
  <li> thats good</li>
</ol>
</p>
<h2 style="text-align:center;font-size:500%;color:red">
<a href="home">LETS GO HOME!</a>
</h2>
</body>
