<head>
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300' rel='stylesheet' type='text/css'>
    
    <style>
        .writing{
            font-family: 'Source Sans Pro', sans-serif;
        }
    </style>
    

<body style="background-color: #A8C5A8">
    <center><div style="width: 50% ; background-color:#D7E6ED ; border-radius: 20px ; padding: 5%">
        <center>
            <h1 class="writing" style="top: 50% ; color: #000">Your lucky number is <u>{{n}}</u></h1>
            <h2 class="writing" style="top: 50% ; color: #000">Refresh the screen to see the latest lucky numbers!</h2>
        </center>
        <hr style="color: #000">
        
        
            <center>
                <table style="border-style: solid ; border-width: 1 ; width: 25%">
                    <tr><h1 class="writing">Recent Lucky Numbers</h1></tr>
                    {% for a in d: %}
                    
                    {% if a == number %}
                    <tr><td class="writing" style="border-style: solid ; border-width:1 ; font-size: 30pt"><center>{{a}} (this is your lucky number!)</center></td></tr>
                    {% endif %}
                    
                    {% if a != number %}
                    <tr><td class="writing" style="border-style: solid ; border-width:1; font-size: 30pt"><center>{{a}}</center></td></tr>
                    {% endif %}
                    
                    {% endfor %}
                </table>
            </center>
        <br>
        </div></center>
</body>
</html>