<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
    </head>
    <link rel="stylesheet" class="text/css" href="/static/style.css">
    <body>
        <nav>
            <center><font size="30" color="white">About</font></center>
            <ul>
                <li><a href='/home'>Home</a></li>
                <li><a href='/portraits'>Portraits</a></li>
                <li><a href='/creative'>Creative</a></li>
            </ul>
        </nav>
        <center><br><br><font size="16" color="white"> Hi, my name is Chris Liang. <br>Photography is my hobby and I made this <br>simple site to showcase some of my photos.<br><br>Contact: chrisliang98@gmail.com </font></center>
    </body>
</html
