<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
    </head>
    <link rel="stylesheet" class="text/css" href="/static/style.css">
    <body>
        <nav>
            <center><font size="30" color="white">Home</font></center>
            <ul>
                <li><a href='/portraits'>Portraits</a></li>
                <li><a href='/creative'>Creative</a></li>
                <li><a href='/about'>About</a></li> 
            </ul>
        </nav>
        <center><p><br><br><br><br><br><br><br><font size="100" color ="white"> WELCOME </font></p></center>
    </body>
</html>
