<!DOCTYPE html>
<html>
    <head>
        <title>Portraits</title>
    </head>
    <link rel="stylesheet" type="text/css" href="static/style.css">
    <body>
        <nav>
            <center><h1><font size="30" color="white">Portraits</font></h1></center>
            <ul>
                <li><a href="/home">Home</a></li>
                <li><a href="/creative">Creative</a></li>
                <li><a href="/about">About</a></li>
            </ul>
        </nav>
        <center>
            <div style="width:500px">
                <p><img src="/static/p1.jpg" style="max-width:100%;"/></p>
                <p><img src="/static/p2.jpg" style="max-width:100%;"/></p>
                <p><img src="/static/p3.jpg" style="max-width:100%;"/></p>
            </div> 
        </center>
    </body>
</html>
