<html>
  <head>
    <title>Weather</title>
  </head>

  <body>
    <h1> CITY WEATHER SEARCH </h1>
    <p> Possible cities to look up </p>
    <p> {{d}} </p>
    <div id="search">
      <input type="text" id="input">
      <button id="submitsearch"> Submit </button>
      <p id="searchresults">

      <p>
     
    </div>
    <hr>
    <div id="rotating">
      shows rotating city weather
      <p id="rotatingresults">

      </p>
    </div>
  </body>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="static/util.js"></script>
</html>
