<!DOCTYPE html>
<html>
  <head>
    <title> Yam </title>
    <script src="../static/jquery.js"></script>
    <style>
      .image {
      height: 200px; witdth: 200px;
      }
    </style>
  </head>
  <body>
    <h1> Random Fake People </h1>
    <div>
      <img id="image" class = "image" src="../static/doe.jpg">
      <table>
	<tr>
	  <td>Name:</td> <td id="name">John Doe </td>
	</tr>
	<tr>
	  <td>Phone:</td> <td id="phone">555-210-8521</td>
	</tr>
	<tr>
	  <td>Email:</td> <td id="email">something@example.com</td>
	</tr>
	<tr>
	  <td>Street:</td> <td id="street">9384 38th Ave</td>
	</tr>
	<tr>
	  <td>Zip:</td><td id="zip">10282</td>
	</tr>
	<tr>
	  <td>Card #</td> <td id="card">289032132323 </td>
	</tr>
	<tr>
	  <td>Pin #</td> <td id="pin">1234</td>
	</tr>
      </table>
    </div>
    <input type=submit id="submit" value="Random Person"></submit>

<script src="../static/yam.js"> </script>

</body>
</html>
