<html>
<body style="background-color:9966FF ">
    <h1 style="text-align:center">ENGLISH PREMIER LEAGUE (EPL)</h1>
    <br>
    <img src="premier.jpeg" alt="epl logo" style="width:304px;height:228px;">
    <br>
    <p style="text-align:center">Welcome to the English Premier League homepage.</p>
    <br><br>
    <p><b>Favorite Team:</b>&nbsp;<i>{{league.favteam}}</i></p>
    <a href="https://www.mcfc.com/">{{league.favteam}} Homepage</a>
    <p><b>Favorite Player:</b>&nbsp;<i>{{league.favplayer}}</i></p>
    <a href="https://en.wikipedia.org/wiki/Sergio_Agüero">{{league.favplayer}} Bio</a>
    <a href="http://www.espnfc.us/player/44927/sergio-aguero">{{league.favplayer}} Stats</a>
    <p>For the latest news and scores around the league...<a href="http://www.premierleague.com/">click here</a> or <a href="www.espnfc.us/barclays-premier-league/23/index">here</a></p>
    <br>
    <a href="/">Back to Home Page</a>
    </body>
</html>