<!DOCTYPE Hhtml>

<html>
<head>
<title>Home Page</title>
</head>
<body style="background-color:lightgrey">
<h1 style="text-align:center">Felipe Mansilla's Sports Page</h1>
    <p style="text-align:center">Welcome to my ultimate sports page. If you know me, you know I love sports. So here are the different sports Leagues I follow consistently. Click on anyone to go to its subpage where you can learn more about it and my interest in that league. <br>Thank you for visiting my page, hope it was of some use to you.</p>
    <br>
    <p style="text-align:center"><a href="http://127.0.0.1:8000/mlb">Major League Baseball</a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="http://127.0.0.1:8000/nba">National Basketball Association</a>
        &nbsp;&nbsp;&nbsp;&nbsp;<a href="http://127.0.0.1:8000/epl">English Premier League</a></p>
</body>
</html>