<html>
<body style="background-color:00CC99">
    <h1 style="text-align:center">NATIONAL BASKETBALL ASSOCIATION (NBA)</h1>
    <br><br>
    <p style="text-align:center">Welcome to the National Basketball Association homepage.</p>
    <br><br>
    <p><b>Favorite Team:</b>&nbsp;<i>{{league.favteam}}</i></p>
    <a href="http://www.nba.com/knicks">{{league.favteam}} Homepage</a>
    <p><b>Favorite Player:</b>&nbsp;<i>{{league.favplayer}}</i> (Played on the Pheonix Suns not the Knicks)</p>
    <a href="https://en.wikipedia.org/wiki/Steve_Nash">{{league.favplayer}} Bio</a>
    <a href="http://www.basketball-reference.com/players/n/nashst01.html">{{league.favplayer}} Stats</a>
    <p>For the latest news and scores around the league...<a href="http://espn.go.com/nba/">click here</a></p>
    <br>
    <a href="/">Back to Home Page</a>
    </body>
</html>