body
{
    background:#0FB1B1;
    text-align:center;
}

.in
{
    width:500px;
}

div
    {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    background:white;
    margin-top:3%;
    padding:20px;
    font-family:Verdana;
    display:table;
}

.bar
{
    background-color:#EF923B;
    font-size:25px;
    text-align:center;
    text-decoration:none;
    padding: 10px;
    border-radius: 10px;
}

table, tr, td
{
    margin-left:auto;
    margin-right:auto;
    text-align:center;
}

li
{
    text-align: center;
    list-style-type: none;
}

li.bar, li > a
{
    color:white;
    text-decoration: none;
    border-radius: 10px;
    padding: 5px;
    display:inline;
}

li:hover.bar {
    background-color:#C16926;
}

