<!DOCTYPE html>
<html>
<head>
<title> Login Page </title>
<h1>Welcome to the login page! </h1>
</head>

<body>

<form method="POST">
  Username:<br>
  <input type="text" name="user" value="">
  <br>
  Password:<br>
  <input type="password" name="pass" value="">
  <br>
  Favorite number:<br>
  <input type="number" name="favNum" value="">
  <br><br>
  <button type="submit" name="EnterIfYouDare"> Take me to a page! </button>
</form>
<table>
  <tr>
    <td>
    </td>
  </tr>
  <tr>
    <td>
      <!-- The username,password, and number are AlexanderTheGreat,Macedonia, and 356, respectively-->
    </td>
  </tr>
</table>

</body>

</html>
