<!DOCTYPE HTML>
<html>
  <style>
    body {text-align: center}
    p {font-size: large}
  </style>

  <head>
  </head>

  <body>
    <h1>I wonder what this page is about</h1>
   

    <a href = "/home">Home is just around the corner</a>
    <br><br><br><br><br><br><br><br><br><br><br>

    <p>Is this an insect disguised as a bird...<br>Or a bird disguised as an insect?</p>
    <img src = "https://thisisthestoryof.files.wordpress.com/2012/08/hummingbird-clearwing-moth-drinking-nectar-photo.jpg?w=470" alt = "potatoes" width = "400" height = "400">

    <p><i>It's actually a furry lobster</i></p>


  </body>

</html>
