<!DOCTYPE HTML>
<html>
  <style>
    table, td {
    border: 1px solid black;
    }
    body {text-align: center}
  </style>

  <head>
  </head>

  <body>
    <h1>Home</h1>
    <hr>

    <a href = "/about">About</a>
    <br><br><br>

    <table style = "width: 100%">
      <tr>
	<td>There</td><td>is</td><td>nothing</td>   
      </tr>
      <tr>
	<td>in</td><td>this</td><td>table</td>   
      </tr>
      <tr>
	<td>Enjoy</td><td>Your</td><td>Day</td>   
      </tr>
    </table>


  </body>

</html>
