<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Caitlin Stanton</title>

    <!-- Bootstrap Core CSS -->
    <link href="static/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="static/clean-blog.min.css" rel="stylesheet">

	<!-- favicon -->
	<link rel="shortcut icon" href="static/img/favicon.ico" type="image/x-icon">
	<link rel="icon" href="static/img/favicon.ico" type="image/x-icon">
	
    <!-- Custom Fonts -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">[Caitlin] <3</a>
            </div>

			<!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
						<a href="/" target="_top">Home</a>
					</li>
					<li>
						<a href="/photography" target="_top">Photography</a>
					</li>
					<li>
						<a href="/about" target="_top">About</a>
					</li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('static/img/about-bg.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="page-heading">
                        <h1>About Me</h1>
                        <hr class="small">
                        <span class="subheading">This is who I am. This is what I do.</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <p>My name is Caitlin Stanton and I'm more than a needle in 
				a pile of needles.</p>
				<p>Okay, that was a necessary cliche, so don't judge me.</p>
				<p>All I'm saying is, I try to see myself as a non-ordinary high school girl. 
				At least, if you're basing ordinary high school girls on the movie 
				stereotypes.</p>
				<p>Except for the not-having-any-free-time thing. That's totally me.</p>
				<p>I am a high school senior from New York who spends most of her time at school 
				or in her pajamas in front of a computer. Though this passion for technology really started 
				through watching Shane Dawson and Danisnotonfire videos on YouTube, my time spent in the Girls 
				Who Code summer program last year only strengthened my curiosity in the world wide weirdness 
				that is the Internet. It is and always will be my one true love [sorry Gerard Way] <3 I 
				can be found coding and #winning at hackathons around the city, practicing her pitching on the 
				softball mound, or curled in the fetal position reading a John Green novel. I am a true fangirl, 
				and not afraid to show it, whether it's by listening to MCR albums from ten years ago or liking 
				all of my fave YouTubers' Instagram photos. I am now getting the chance to see the worlds of 
				coding and fangirling collide as a Cambio #BUILTBYGIRLS intern.</p>
				<p>WOOT WOOT *fist pump*</p>
				<h2>Coding</h2>
				<p>It all started sophomore year. We're required to take at least one semester of an Intro 
				to Computer Science course at my school, and I ended up taking it spring 
				semester. It was then that I learned the basics of Dr.Racket and NetLogo, 
				introducing me to the world of coding.</p>
				<p>I continued this into the summer with my six weeks at Girls 
				Who Code. <a href="post1.html">Long story</a> short, it changed my 
				life.</p>
				<p>My life basically revolves around coding now, whether it's 
				at school taking computer science courses, participating in hackathons, 
				and making my own stuff (hackathons, websites, etc.).</p>
				<p>The fact that I can make whatever I want with a couple keystrokes 
				is just, liberating.</p>
				<h2>Softball</h2>
				<p>I didn't always play softball.</p>
				<p>I started out on a co-ed baseball team when I was six. I dedicated my entire 
				elementary-school-self to fielding grounders, catching popups, and 
				hitting homeruns. The only problem, something I didn't recognize until I 
				was maybe ten, was that I was surrounded by boys.</p>
				<p>Trust me, that would be awesome now, but being the one of the only 
				two girls on a co-ed wasn't that fun.</p>
				<p>I kicked all their asses, to be frank :P</p>
				<p>Therefore, when I was ten, my parents switched me over to the softball 
				section of my league, and it all clicked into place. I got into pitching, 
				learning how to throw fastballs and changeups (that admittedly look the 
				same, exactly) with the windmill motion. I graduated from wanting 
				to walk every at-bat to eventually hitting an over-the-fence homerun 
				(best. feeling. EVAR). I ended up joining two teams, 
				my high school's varisty team and sticking with my first league.</p>
				<p>I'm gonna be honest with myself--I'm probably not the best softball 
				player out there. Not by a long shot. I probably don't have too much 
				of a chance of getting onto a Division 1 varsity team in college.</p>
				<p>But that's not going to stop me from trying to get my team past 
				the first round of the championships (this is the year I CAN FEEL IT).</p>
				<h2>Reading</h2>
				<p>When I was little, my parents would shut me up by shoving a book at me. 
				Since then, I've embraced my true antisocial nature by bringing a book 
				wherever I go (whenever I go outside).</p>
				<p>Legitimately, everywhere.</p>
				<p>Every time I read a book, my mind does this weird thing where 
				it basically turns into a TV screen and the book comes to life. 
				I'm weird, what can I say? But it makes reading that much more fun--
				I get to create my own little world, with me as the director.</p>
				<p>I will literally read anything, as long as its good. That's the only 
				criterion.</p>
				<p>Although I have an extreme penchant for YA novels...Don't judge me.</p>
            </div>
        </div>
    </div>

    <hr>

        <!-- Footer -->
    <footer>
	<div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <ul class="list-inline text-center">
					<h2 class="section-heading">Let's Get In Touch!</h2>
                    <hr class="primary">
                    <p>Want to be Internet friends?</p>
					<li>
                            <a href="http://instagram.com/codercaitlin">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="http://twitter.com/codercaitlin">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
						<li>
							<a href="http://codercaitlin.tumblr.com" target="_top">
                                <span class="fa-stack fa-lg">
									<i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-tumblr fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
						<li>
                            <a href="http://youtube.com/mylifeashuman101">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-youtube fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="http://www.facebook.com/mylifeasahuman101">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
						<li>
                            <a href="https://www.linkedin.com/profile/view?id=358201539&trk=hp-identity-name">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="http://github.com/caitlinstanton">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
						<li>
							<a href="mailto:caitlinstanton44@gmail.com" target="_top">
                                <span class="fa-stack fa-lg">
									<i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <br>
						<li>
							<a style="display: block; text-decoration: none;" href="http://www.cambio.com/collab/"><img src="http://o.aolcdn.com/os/cambio/cambio3/images/collab-badge" style="border:0; display: block;" /></a>
						</li>
						<p></p>
						<p class="copyright text-muted">Copyright Caitlin Stanton 2015</p>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

   
    <!-- jQuery -->
    <script src="static/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="static/js/bootstrap.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="static/js/clean-blog.min.js"></script>

</body>

</html>
