<!DOCTYPE html>
<html lang="en">

<head>

	 <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Caitlin Stanton</title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="static/bootstrap.min.css" type="text/css">

    <!-- Custom Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="static/css/font-awesome.min.css" type="text/css">

    <!-- Plugin CSS -->
    <link rel="stylesheet" href="static/animate.min.css" type="text/css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="static/creative.css" type="text/css">
	
	<!-- favicon-->
	<link rel="shortcut icon" href="static/img/favicon.ico" type="image/x-icon">
	<link rel="icon" href="static/img/favicon.ico" type="image/x-icon">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
		
    <title>Caitlin Stanton</title>

</head>

<body id="page-top">

     <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">[Caitlin] <3</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
						<a href="/" target="_top">Home</a>
					</li>
					<li>
						<a href="/photography" target="_top">Photography</a>
					</li>
					<li>
						<a href="/about" target="_top">About</a>
					</li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <header>
        <div class="header-content">
            <div class="header-content-inner">
                <h1>Default to Yes</h1>
                <hr>
                <h2>I would like to personally welcome you, oh anonymous 
				Internet surfer, to the world of me, Caitlin :D</h2>
                <br>
				<a href="#about" class="btn btn-primary btn-xl page-scroll">Who...is...Caitlin?</a>
            </div>
        </div>
    </header>

    <section class="bg-primary" id="about">
		<center><p><br><br>
            <font size="100" color ="white"> {{d.welcome}} </font>
                </p>
        </center>
        {% if d.nameForm %}
            <form action="/name" method="POST">
                <center>
                    <font color="white"> Enter your name: </font>
                    <input type="text" name="nameform" value=""></input>
                    <br><br>
                    <input type='submit' value='Submit!'></input>
                </center>
            </form>
        {% else %}
        <br>
        <center>
            <form action="/cname" method="POST">
                <input type='text' name="cname" value=''></input>
                <input type='submit' value='Change name'></input>
            </form>
        </center>
        {% endif %}   
	
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">I'm a bit more than your typical high school girl</h2>
                    <h2 class="text-faded">Reading. Writing. Photography. Softball. Watching movies. Critiquing reality TV. And (most importantly, of course), coding.</h2>
					<h2 class="text-faded">Sound like someone you know? Someone you want to know? Just feel like reading some random blog?</h2>
                    <br>
					<a href="http://caitlin.site" class="btn btn-default btn-xl">Read About My Life!</a>
                </div>
            </div>
        </div>
    </section>

    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Cool Corner</h2>
                    <hr class="primary">
					<p>Okay, it's technically not a corner and it's debatable whether
					it's cool or not but just go with it, okay? Okay.</p>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
				<div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <a href="http://instagram.com/coolcait98"><i class="fa fa-4x fa-bicycle wow bounceIn text-primary" data-wow-delay=".2s"></i></a>
                        <h3>Where in the world is Carmen--er, Caitlin</h3>
                        <p class="text-muted">I try to travel as often as I can, from across the pond 
						to around my neighborhood. You can follow my escapades, for the most part, on Instagram.</p>
						<p class="text-muted">Right now, I'm at:</p>
						<p>AOL New York</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <a href="http://open.spotify.com/user/12147262019/playlist/7weOWBnmZbjetDH04nKA2C"><i class="fa fa-4x fa-play wow bounceIn text-primary" data-wow-delay=".2s"></i></a>
                        <h3>*music-gasm*</h3>
                        <p class="text-muted">I spend probably 103.7% of my time either listening to 
						or daydreaming about music, so why not bless the general public with my, albeit 
						extremely varied, music taste?</p>
                    </div>
                </div>
				<div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
						<i class="fa fa-4x fa-quote-right wow bounceIn text-primary" data-wow-delay=".2s"></i>
                        <h3>Lemme give you a quote</h3>
                        <p class="text-muted">"The trick is to recognize your mistakes, 
						take what you need from them, and move on."</p>
						<p class="text-muted">"Every Last Word," Tamara Ireland Stone</p>
                    </div>
                </div>
				<div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
						<i class="fa fa-4x fa-ticket wow bounceIn text-primary" data-wow-delay=".2s"></i>
                        <h3>Heading to the movies?</h3>
                        <p class="text-muted">Every time I hang out with someone, 
						we go to the movies. Literally, that's it. We sit next to 
						each other for less than three hours, then go home. I'm 
						a fun person, I promise.</p>
						<p class="text-muted">Here are some in theaters that I would recommend:</p>
						<a href="http://www.youtube.com/watch?v=RFinNxS5KN4">Jurassic World</a>
						<!--<p>It's nothing compared to the first, but, as action movies go, 
						it's pretty awesome to watch (especially the last scene WHOA). Plus, Christ Pratt <3</p>-->
						<p></p>
						<a href="https://www.youtube.com/watch?v=_MC3XuMvsDI">Inside Out</a>
						<!--<p>I'm not much for children's movies, as it means having to share 
						movie snacks with my siblings, but this movie lives up to the hype. 
						It's adorable, funny, emotional (*giggles to self*), and all-around 
						a fun movie to watch, no matter who you are.</p>-->
                    </div>
                </div>
				<div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <a href="http://biblioboo.wordpress.com"><i class="fa fa-4x fa-book wow bounceIn text-primary"></i></a>
                        <h3>BiblioBoo</h3>
                        <p class="text-muted">Here's a book blog by one of my best friends, Emily.
						Get as caught up in her reviews as you are in the world of YA novels (don't deny
						it; you love them) :P</p>
						<p class="text-muted">"A blog for those who read too much"</p>
                    </div>
                </div>
				<div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <a href="http://github.com/caitlinstanton"><i class="fa fa-4x fa-code-fork wow bounceIn text-primary" data-wow-delay=".2s"></i></a>
                        <h3>My Code</h3>
                        <p class="text-muted">I feel like I'm being 217% honest when I 
						say that coding is my one of the major players in my life (at 
						least until I become the musician/badass ninja warrior/revolutionary/professional softball player/scholar 
						I'm meant to be).</p>
                    </div>
                </div>
				<div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <a href="photo.html"><i class="fa fa-4x fa-camera-retro wow bounceIn text-primary" data-wow-delay=".1s"></i></a>
                        <h3>My Photos</h3>
                        <p class="text-muted">I don't always use Instagram to showcase 
						beautiful places</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-rocket wow bounceIn text-primary" data-wow-delay=".3s"></i>
                        <h3>Made with Love</h3>
                        <p class="text-muted">Here are just a few of the things I've worked/been 
						working on :)</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="no-padding" id="portfolio">
        <div class="container-fluid">
            <div class="row no-gutter">
                <div class="col-lg-4 col-sm-6">
                    <a href="https://a7843e3b698e19f933185e6f2507704f0be477a6.googledrive.com/host/0BwimuHTMp1jbU2xGbVAxWGFBbW8/debApp_HomePage.html" class="portfolio-box">
                        <img src="static/img/projects/1.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Girls Who Code Final Project
                                </div>
                                <div class="project-name">
                                    debAPP
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="http://caitlinstanton.github.io/bizquick/" class="portfolio-box">
                        <img src="static/img/projects/2.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    CodeDay Winter 2014
                                </div>
                                <div class="project-name">
                                    Biz-Quick
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="http://caitlinstanton.github.io/codeday2015" class="portfolio-box">
                        <img src="static/img/projects/3.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    CodeDay Spring 2015
                                </div>
                                <div class="project-name">
                                    beeline
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="http://github.com/caitlinstanton" class="portfolio-box">
                        <img src="static/img/projects/4.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    My GitHub
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="/photography" class="portfolio-box">
                        <img src="static/img/projects/5.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    My Photos
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="http://caitlin.site" class="portfolio-box">
                        <img src="static/img/projects/6.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    My Writing
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <section id="contact">
	<div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <ul class="list-inline text-center">
					<h2 class="section-heading">Let's Get In Touch!</h2>
                    <hr class="primary">
                    <p>Want to be Internet friends?</p>
					<li>
                            <a href="http://instagram.com/codercaitlin">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="http://twitter.com/codercaitlin">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
						<li>
							<a href="http://codercaitlin.tumblr.com" target="_top">
                                <span class="fa-stack fa-lg">
									<i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-tumblr fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
						<li>
                            <a href="http://youtube.com/mylifeashuman101">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-youtube fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="http://www.facebook.com/mylifeasahuman101">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
						<li>
                            <a href="https://www.linkedin.com/profile/view?id=358201539&trk=hp-identity-name">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="http://github.com/caitlinstanton">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
						<li>
							<a href="mailto:caitlinstanton44@gmail.com" target="_top">
                                <span class="fa-stack fa-lg">
									<i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <br>
						<li>
							<a style="display: block; text-decoration: none;" href="http://www.cambio.com/collab/"><img src="http://o.aolcdn.com/os/cambio/cambio3/images/collab-badge" style="border:0; display: block;" /></a>
						</li>
						<p></p>
						<p class="copyright text-muted">Copyright Caitlin Stanton 2015</p>
                    </ul>
                </div>
            </div>
        </div>
    </section>

	
    <!-- jQuery -->
    <script src="static/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="static/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="static/js/jquery.easing.min.js"></script>
    <script src="static/js/jquery.fittext.js"></script>
    <script src="static/js/wow.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="static/js/creative.js"></script>

</body>

</html>
