<!DOCTYPE html>

<head>
  <title>Template</title>
</head>

<body style="background-color:skyblue">
  <h1><center><img src="http://i221.photobucket.com/albums/dd260/danzmau/random/animated%20gifs/totoro.gif"> ~~~ Hi! ~~~ </center></h1>
  <h2><center>You've reached the homepage...</center></h2>

  <p>
    Paragraph goes here.
  </p>

  <ul>Unordered List
    <li><i>Italics</i></li>
    <li><b>Bold</b></li>
    <li><u>Underline</u></li>
  </ul>

  <ol>Ordered List
    <li>Ordered</li>
    <li>List</li>
  </ol>
  
  <a href="/page2">Page 2</a>
</body>

</html>
