<!DOCTYPE html>
<h1>The About page</h1>
This site really is basically useless but you could probably play around for
maybe 5, 10 minutes? <br><br>
The adoption profile lets you fill out your information and will let you see
some animals that might be a good match for you. <br><br>
The secret page is, well, a secret! Go check it out and waste a few minutes.
Or, like, 30 seconds.<br><br>
The "free pictures" is literally just a picture of a cat you'll see on the
adoption profile. I'm (not really) sorry for lying to you.
<br><br>
<button><a href="/home">Back to the Home Page!</a></button>
