<!DOCTYPE HTML>
<body style="background-color:#151B54">
  <center>
    <font color="white"><h1>This is your secret page</h1>
      {% if number==1 %}
      <img src="/static/Buckled.gif">
      <h3>Good job on buckling your pants! Nice big girl pants you got 
	there.</h3>
      <button><a href="/reset">Reset the page</a></button>
      <button><a href="/logout">Log Out</a></button>
      {% elif number==0 %}
      <img src="/static/Buckle.gif">
      <br><br>
      <h3>You have not yet buckled your pants! Will you buckle them? </h3>
      <button><a href="/okay">Yessiree or my pants will fall!</a></button>
      <button><a href="/nope">No, I like my pants saggy!</a></button>
      <br><br>
      <button><a href="/reset">Reset the page</a></button>
      <button><a href="/logout">Log Out</a></button>
      {% elif number==-1 %}
      <img src="/static/CatGuard.gif">
      <br><br>
      <h3>Are you sure? The cat guards will get you!</h3>
      <button><a href="/okay">Okay, fine. I'll buckle them.</a></button>
      <button><a href="/nope">I will NEVER buckle my pants!</a></button>
      <br><br>
      <button><a href="/reset">Reset the page</a></button>
      <button><a href="/logout">Log Out</a></button>
      {% else %}
      <img src="/static/Taken.gif">
      <br><br>
      <h3>The cat guards found you pantless, pathetically huddled up in a
	corner. Good job. No pants, no service.</h3>
      <br><br>
      <button><a href="/reset">Reset the page</a></button>
      <button><a href="/logout">Log Out</a></button>
      {% endif%}
    </font>
  </center>
</body>

