<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html> <head>
<link href="../static/css/bootstrap.css" rel="stylesheet">
<title></title>
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="../static/js/bootstrap.js"></script>
<script src="home.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>
</head>


<div class="jumbotron">
<h1>Vote people off the island</h1>
</div>



<hr>
<address></address>
<!-- hhmts start -->Last modified: Thu Dec 10 22:40:06 EST 2015 <!-- hhmts end -->
</body> </html>
