<!DOCTYPE html>

<html>
  <head>
    <title>Nuke Me Please</title>
    <link rel='stylesheet' type='text/css'
          href='/static/dist/minified.css' />

    <script src='https://maps.googleapis.com/maps/api/js?key=AIzaSyD4RhZKP0SgIHqX5CLbBZR4Au1NXs89AYQ'>
    </script>
    <script src="http://google-maps-utility-library-v3.googlecode.com/svn/trunk/maplabel/src/maplabel.js"></script>
    <script src='/static/bower/jquery/dist/jquery.min.js'></script>
  </head>

  <body>
    <div class='container'>
      <h1 class='title'>
        <a href='/'>
          Will YOUUUUU Get Nuked??
        </a>
      </h1>

      <form id='searchbar'>
        <input type='text' id='address' placeholder='Address' />
        <button type='submit'>Submit</button>
      </form>
      <div id='map'></div>

    </div>

  </body>

  <script src='/static/js/script.js'></script>
</html>
