<!DOCTYPE HTML>
<html>
	<head>
		<h1>Stuyvesant Student Tools</h1>
		<hr>
		<br> <br>
	</head>

	<body>

		<h2> TOP TENS </h2>
		<button type="button" onclick="top10()" id="FNLN">First and Last Names</button>
		<button type="button" onclick="top10()" id="FN">First Name</button>
		<button type="button" onclick="top10()" id="LN">Last Name</button>
		<button type="button" onclick="top10()" id="ID">ID Number</button>
		<button type="button" onclick="top10()" id="OSIS">OSIS Number</button>
		<button type="button" onclick="top10()" id="HR">Homeroom</button>
		
		<p id="results"></p>
	</body>
	
	<script src="static/ajax.js"></script>

</html>
