<!DOCTYPE HTML>
<html>
	<head>
		<h1>Stuyvesant Student Tools</h1>
		<hr>
		<br> <br>
	</head>

	<body>

		<h2> TOP TENS </h2>
		<button type="button" onclick="top10()" id="PTS">Total Points</button>
		<button type="button" onclick="top10()" id="PTSG">Points Per Game</button>
		<button type="button" onclick="top10()" id="FG%">Field Goal Percent</button>
		<button type="button" onclick="top10()" id="3P%">Three Point Percent</button>
		<button type="button" onclick="top10()" id="2P%">Two Point Percent</button>
		
		<p id="results"></p>
	</body>
	
	<script src="static/ajax.js"></script>

</html>
