<!DOCTYPE HTML>

<title> 
Home
</title>

<head>
  <link rel="stylesheet" type="text/css" href="static/styles/home.css">
</head>

<body>
  <h1>Pokemon</h1>
 
  <br>
  <ol>
    <li><h2>Bulbasaur</h2></li>  <a href="/grass"> Grass </a>
    <li><h2>Charmander</h2></li>
    <li><h2>Squirtle</h2></li>
  </ol>

  <br>

  <table>
    <tr><td><img src="static/bulbasaur.jpg" alt="bulbasaur"></td></tr>
    <tr><td><img src="static/charmander.jpg"></td></tr>
    <tr><td><img src="static/squirtle.jpg"></td></tr>
  </table>
  <button><a href="/about"> About </a></button>
  <br>

  <form method="POST">
    <h2>Enter an integer from 1-9</h2>
    <input type="text" name="id">
    <input type="submit" name="button" value="Go">
  </form>
  <br>

  {% if ID %}
  {% for pkmn in dex %}
  {% if dex[pkmn]==ID %}
  <br>
  <h2>It's {{pkmn}}</h2>
  {% endif %}
  {% endfor %}
  {% endif %}
</body>
