<!DOCTYPE html>

<head>
	<title>About</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
	<center>
		<h1>This is the about page!</h1>
		
		<a href="http://localhost:8000/home"> Home Page! </a>
		
		<h2>Stuffs I likes to do</h2>
		<div>
			<ul>
				<li> Dance, dance, dance </li>
				<li> Dance like a crazy man on the train, streets, in my seat </li>
				<li> Sneakers </li>
				<li> Clothes </li>
				<li >FOOOOOOD</li>
			</ul>
		</div>
		
		<table border="1">
			<tr>
				<td>F**K YOU MEAN</td>
				<td>MEEK MILL</td>
			</tr>
			<tr>
				<td>Firestone</td>
				<td>Kygo</td>
			</tr>
			<tr> 
				<td>TRNDSTTR</td>
				<td>LUCIAN</td>
			</tr>
			<tr>
				<td>Lazarus</td>
				<td>TRIP LEE</td>
			</tr>
			
		</table>
	</center>
	
</body>

