<!DOCTYPE html>

<head>
	<title>Home</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
	<center>
		<h1>This is the home page!</h1>
		
		<a href="http://localhost:8000/about"> About Page! </a>
		
		<h2>Check out these cool dancers!</h2>
		
		<a href="https://www.youtube.com/watch?v=MtJS9N2Zp-c">
			<img src="{{ url_for('static', filename='fy.jpg')}}" alt="Franklin Yu" style="width:200;height:200;">
		</a>
		
		<a href="https://www.youtube.com/watch?v=PNVr1LpLJSQ">
			<img src="{{url_for('static', filename='Bam.jpg')}}" alt="Bam Martin" style="width:200;height:200;">
		</a>
		
	</center>
	
</body>

