<!DOCTYPE html>
<html>

  <head>
   
    <title> PUPSGO11: About Puppies </title> 
    <style>
    body {
    background: url(cream_dust/cream_dust.png) repeat 0 0;
    }
    </style>

  </head>

  <body> 

    <h1><center><i>PUPSGO11</i></center></h1>
      
    <center>Love puppies? Love Anna Mei? PERFECT. </center>
    <br><hr>
<center>
<a href="/">HOME</a>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
<a href="/aboutpuppies">ABOUT PUPPIES</a>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
<a href="/aboutanna">ABOUT ANNA MEI</a>
</center>
<hr><br><br>
<center>
Official Definition: puppy <i>(n.)</i> a juvenile dog. Some puppies can weigh 1-3 lb (0.45-1.36 kg), while larger ones can weigh up to 15-23 lb (6.8-10.4 kg). 
<br>
Unofficial Definition: puppy <i>(n.)</i> cute as a button
</center>
</body>
