<!DOCTYPE html>
<html>

  <head>
   
    <title> PUPSGO11 </title> 
    <style>
    body {
    background: url(cream_dust/cream_dust.png) repeat 0 0;
    }
    </style>

  </head>

  <body> 

    <h1><center><i>PUPSGO11</i></center></h1>
      
    <center>Love puppies? Love Anna Mei? PERFECT. </center>
    <br><hr>
<center>
<a href="/">HOME</a>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
<a href="/aboutpuppies">ABOUT PUPPIES</a>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
<a href="/aboutanna">ABOUT ANNA MEI</a>
</center>
<hr><br><br>

<center>
<i>Anna Mei</i><br>
<b>pupsgo11</b><br>
The inspiration behind this entire website. <br>Currently a high school senior, Anna is nasty and loud. Her voice is loud enough to enduce hearing loss -- we've tested it. <br><br>

Enjoy this picture: <br><br>
<img src="annamei.jpg" height=500>
</center>

</body>
