<!DOCTYPE html>
<html>

  <head>
   
    <title> PUPSGO11 </title> 
    <style>
    body {
    background: url(cream_dust/cream_dust.png) repeat 0 0;
    }
    </style>

  </head>

  <body> 

    <h1><center><i>PUPSGO11</i></center></h1>
      
    <center>Love puppies? Love Anna Mei? PERFECT. </center>
    <br><hr>
<center>
<a href="/">HOME</a>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
<a href="/aboutpuppies">ABOUT PUPPIES</a>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
<a href="/aboutanna">ABOUT ANNA MEI</a>
</center>
<hr><br><br>

<center>
<img src="husky.jpg" height=250>&nbsp&nbsp&nbsp&nbsp
<img src="anna_rooftop.jpg" height=250>&nbsp&nbsp&nbsp&nbsp
<img src="puppies.jpg" height=250>
</center> 
</body>
