<!DOCTYPE html>
<html>

  <head>
   
    <title> PUPSGO11 </title> 
    <style>
    body {
    background: url(cream_dust/cream_dust.png) repeat 0 0;
    }
    </style>

  </head>

  <body> 

    <h1><center><i>PUPSGO11</i></center></h1>
      
    <center>Love puppies? Love Anna Mei? PERFECT. </center>
    <br><hr>
<center>
<a href="/">HOME</a>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
<a href="/aboutpuppies">ABOUT PUPPIES</a>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
<a href="/aboutanna">ABOUT ANNA MEI</a>
</center>
<hr><br>
<center>
<h1>Login</h1>
{%if err %}
<h3>{{err}}</h3>
{% endif %}
<form method="POST">
  username: <input type="text" name="username">
  <p/>
  password: <input type="text" name="password">
  <p/>
  <input type="submit" name="button" value="login">
  <input type="submit" name="button" value="cancel">
  </form>
</centeR>
</body>
