<!DOCTYPE html>
<html>
<head>
<title>Dragons</title>
<link rel="stylesheet" href="../static/Home.css">
</head>
<body>
<h1>Dragons</h1>
<!--<img src="../static/Red_Dragon.jpg" alt = "Blazing Dragon" style = "width:315px;height:228px;">
<img src="../static/Water_Dragon.jpg" alt = "Blazing Dragon" style = "width:315px;height:228px;">
<img src="../static/East_Dragon.jpg" alt = "Blazing Dragon" style = "width:315px;height:228px;">
<img src="../static/Gold_Dragon.jpg" alt = "Blazing Dragon" style = "width:314px;height:228px;"> -->
<br>
<br>
<br>
<br>
<center>
<form Method = "POST">
	Username:<input type = "text" name = "Username"></input>
	Password:<input type = "text" name = "Password"></input>
	<input type="submit" name="button" value="Login"></input>
	<input type="submit" name="button" value="Cancel"></input>
</form>
<br>
<a href="/About_Dragons">All About Dragons</a>
</center>
</body>
</html>