<!DOCTYPE HTML>
<html>

<body>
<h1>{{d.name}} is lost...?</h1>

<p>You walked into a closet and now, it looks like you're in another world. You turn back to where you came from... only to see that there is no wardrobe behind you anymore. What kind of joke is this? This isn't funny. </p>

<img src="http://narnia.center/Fotos/Narnia/Narnia03.jpg" style="width:640px;height:360px;">

<hr>
<form>
  You may have one friend help you home. Who will it be? 
  <input type="text" name="friend">
	<p/>
  <button><a href="/random/friend">Enter</a></button>
</form>

</body>
</html>
