<!DOCTYPE HTML>
<html>

<body>
<h1>
Welcome to Narnia!
</h1>
<hr>
<font size="4"><marquee behavior="alternate">~magical~</font></marquee>
<hr>
<p>You walk into a closet in order to hide from your siblings during the game of hide and seek. What's this? There's no back to this closet. Why is it so bright in here? Ahhhhh!</p>

<img src="https://betterthannarnia.files.wordpress.com/2014/02/wardrobe.jpg" style="width:800px;height:593px;">

<hr>
<form>
	What is your name? <input type="text" name="Name">
	<p/>
  <button><a href="/about/Name">Enter</a></button>
</form>

</body>
</html>
