<!DOCTYPE HTML>
<html><head>
<title> Cubing </title>

</head>

<body>
<h1> Speedcubing </h1>
<hr>
<p>Speedcubing is a hobby where you attempt to solve a Rubik's cube (and other various puzzles) as fast as possible </p>
<hr>
<table style="width:60%" border="1">
<tr><td>Event</td><td>My Personal Best</td><td> WR </td><td> Main Speedcube </td></tr>
<tr><td>2x2x2</td><td>1.46</td><td>0.58</td><td><a href="http://thecubicle.us/moyu-lingpo-p-1716.html">MoYu LingPo</a></td></tr>
<tr><td>3x3x3</td><td>7.74</td><td>5.25</td><td><a href="http://thecubicle.us/yuxin-p-3939.html">Yuxin 3x3</a></td></tr>
<tr><td>4x4x4</td><td>1:16.23 </td><td>21.97</td><td><a href="http://thecubicle.us/yuxin-p-3940.html">Yuxin 4x4</a></td></tr>
<tr><td>5x5x5</td><td>1:58.57</td><td>48.42</td><td><a href="http://thecubicle.us/moyu-aochuang-p-3420.html">MoYu AoChuang</a></td></tr>
<tr><td>6x6x6</td><td>4:37.96</td><td>1:33.55</td><td><a href="http://thecubicle.us/moyu-aoshi-p-3638.html">MoYu AoShi</a></td></tr>
<tr><td>7x7x7</td><td>7:24.68</td><td>2:23.55</td><td><a href="http://thecubicle.us/shengshou-mini-696mm-p-602.html">ShengShou Mini 7x7</a></td></tr>
</table>
<hr>
<a href="/">Return to home page</a>
</body>
