<!DOCTYPE HTML>
<html><head>
<title> Swimming </title>
</head>

<body>
<h1> Swimming </h1>
<hr>
<p>Swimming has taken up most of my life for the past ~6 years. I practice 6 days a week for about 2 hours at a time with <a href="http://www.flushingflyers.com/Home.jsp?team=ymca-4256">The Flushing Flyers</a>. I have won multiple individual YMCA State Titles and have gone to YMCA Nationals for swimming 6 times by my sophomore year of high school.
</p>
<hr>
<a href="/">Return to home page</a>
</body>
