<!doctype html>
<html>
	<head>
		<h1>NBA Team Stats</h1>
		<hr>
	</head>

	<body>

		<h2> Top ten lists </h2>
		<button type="button" onclick="top10()" id="PTS">Total Points</button>
		<button type="button" onclick="top10()" id="PTSG">Points Per Game</button>
		<button type="button" onclick="top10()" id="FG%">Field Goal Percent</button>
		<button type="button" onclick="top10()" id="3P%">Three Point Percent</button>
		<button type="button" onclick="top10()" id="2P%">Two Point Percent</button>
		

		<p id="results"></p>
	</body>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="static/ajaxstuff.js"></script>

</html>