<!DOCTYPE HTML>

<html>

<center>

<head>
<h1> Artist Page </h1>
{% if stagename != "artists" %}
<h2> Stage Name: {{stagename}} </h2>
{% else %}
<h2> Artists </h2>
{% endif %}
<!-- <h3> hello {{dic[stagename]}} </h3> -->
</head>

<body>
<style>
ul { display:table; margin:0 auto;}
</style>

<ul>
{% for item in dic[stagename] %}
<li> {{item}} </li>
{% endfor %}
</ul>

<br>
<br>
{% if stagename != "artists" %}
<a href="artists"> Back to Artist List! </a>
{% endif %}
<br>
<br>
<a href=".."> Back to Home! </a>

</body>

</center>

</html>
