<!DOCTYPE HTML>

<html>

  <center>

    <head>
      {% if un %}
      <h1> Welcome, {{un}}! </h1>
      <hr/>
      {% endif %}
      <h1>Your Lucky Number : {{random}} </h1>
    <br>
    <br>
    <br>
      <h2> Not Lucky Enough? </h2>
      <h3> Well then... You should <a href=https://www.youtube.com/watch?v=5NV6Rdv1a3I> Get Lucky </a></h3>
    <br>
      <h4> Disclaimer: You may not necessarily "get lucky" if you're that unlucky :( </h4>
    <br>
    <br>
      <a href=".."> Back to Home! </a>
    
    </head>

    <body>
    </body>

  </center>

</html>
