<head><style>
    body {
    background-image:url("static/images/caesar.jpg");
    background-repeat:no-repeat;
    background-position: right bottom;
    width:700px;
    margin-left:auto;
    margin-right:auto;
    }
    h1, h2 {
    text-align:center;
    }
  </style>
</head>

<body>
<h1> Secret Numbers</h1>

<h2>Let's do rot{{d['rotval']}}.</h2>
<br>
Your word: {{d['to_encrypt']}}
<br>
The encrypted result: {{d['encrypted']}}
<br>
<br>
To encrypt words or phrases, enter your desired rot value and the word you'd like to encrypt like so: <br>
/secret/rot_value/to_encrypt
</body>
