<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">

<!--
{% extends "bootstrap/base.html" %}
{% block title %} What to do {% endblock %}



{% block content %}
-->

<body>
<h1>Bootstrap test</h1>
<form>

 
<center>
 <textarea rows="4" cols="50" id="todoInput">
Hi
</textarea>
<button id="submit"> Submit </button>

</center>
<b> To do </b>
<ol id="todoList">
  <li> pet dog </li>
  
</ol>
<b> Done </b>
<ol id="doneList">

</ol>
<hr>
<address></address>
<script src="home.js"></script>
<!-- {% endblock %} -->
</body>

</html>
