<html>
<head>
	<title>Prisoner Profile</title>
	<link rel="stylesheet" href="../static/styles.css">
</head>
<body class="profile">
	<div class="transbox">
		<br>
		<p>Convict 5H4C0</p>
		<p>Alias: The Demon Jester</p>
		<p><u>Crimes</u></p>
		<p>Larceny, Jailbreak, Arson, Assault, Terrorism, Murder.</p>
		<p>Debriefing: Dubbed the world's first fully functional homicidal comic, the Demon Jester is an enigma. No one fully agrees from whence he came, and he never offers any details on his own. Some believe that he is the demonic manifestation of humanity's dark urges and therefore cannot be reasoned with. He has proved himself to be a cunning individual, evading authorities at every turn who might seek him for questioning... until now. Convict 5H4C0 may be in captivity, but his secrets still remain free. If you are to learn anything from him, you must ask him face to face. Good luck, doctor.
		<form>
			<input type ="submit" formaction="/home" value="Home"></input>
		</form>
		<br>
	</div>
</body>
</html>