<html>
<head>
	<title>Asylum Entrance</title>
	<link rel="stylesheet" href="../static/styles.css">
</head>
<body class="profile">
	<div class="transbox">
		<br>
		<p>Asylum 582</p>
		<form method="POST">
			<p><input type="text" name="username" placeholder="Name"></input></p>
			<p><input type="password" name="password" placeholder="Access Code"></input></p>
			<input type ="submit" value="Enter"> </input>
		</form>
		<form>
			<input type ="submit" formaction="/about" value="About"></input>
		</form>
		<br>
		<p><a href="../static/backgroundM.mp3" target="_blank">Click for Background Music</a></p>
		<br>
	</div>

</body>
</html>
