<!DOCTYPE html>
<html>
<body>
<h1><span style="color:#0000FF;">McBurney YMCA Manta Rays </span>
</h1>
<pre>

                /\.-./\
               /       \
              /    :    \
         _.-'`     '     `'-._
      .-'          :          '-.
    ,'_.._         .         _.._',
    ''    `'-.     '     .-'`    `'
              '.   :   .
                \_. ._
          \       |^|
           |      | |
           \'.___.' /
            '-....-'


ascii art mostly thanks to http://www.retrojunkie.com/asciiart/animals/stingray.htm
</pre>
<p>
<h2> Learn more about the team at our website: www.mantarays.nyc</h2>
</p>
</body>
</html>
