<!DOCTYPE html>
<html>
<head>
<style>
body {
font-family: "Ubuntu", Sans-serif;
color: white;
background-image: url("http://www.wallpaperup.com/uploads/wallpapers/2012/08/04/8548/07f4032eddf2777664a0ec1431a34a56.jpg");
background-repeat: no-repeat;
background-position: center top;
}
h1 {
font-size: 60px;
text-align: center;
}
h2 {
font-size: 30px;
text-align: center;
}
</style>
</head>
<body>
<h1>
hello.
<h2>
welcome to my website
</h2>
<p>
you may have your stay<br><br>
but first sign up o.o
</p>


</body>
</html>
