<!DOCTYPE html>
<html>
<body style="background-color: #F3E2A9">
<h1>Ice Cream Facts</h1>

<ol>
  <li>New Zealand consumes the most ice cream in the world.</li>
  <li>The average American consumes 48 pints of ice cream a year.</li>
  <li>It takes three gallons of milk to make one gallon of ice cream.</li>
  <li>Cows have enough milk to make two gallons of ice cream a day!</li>
  <li>The perfect temperature for scooping ice cream is between 6 and 10 degrees Farhenheit.</li>
  <li>It's udderly amazing! (But you probably knew that already.)</li>
</ol>
 
  <form method="link" action="home">
    <input type="submit" value="Home">
  </form>
  <form method="link" action="about">
    <input type="submit" value="About">
  </form>
  <form method="link" action="jokes">
    <input type="submit" value="Jokes">
  </form>

</body>
</html>
