<!DOCTYPE html>

<html>

<title>Cronut</title>

<h1>Cronut Crazy </h1> 

<body> 

Enjoy taking a gander at the best invention the world has ever known: <br>
THE CRONUT
<br><br>

<img src="https://8ce0c49b9b247b13ce29-6bcfd4b1101a638a7b59d86627de679e.ssl.cf2.rackcdn.com/app/uploads/2014/11/alse6jqhkzd8eibcghr9.jpg" width = "900" height = "450"> 

<br><br>
Best Dominique Ansel Creations - Ranked:
<ol>
  <li> Cronut </li>
  <li> Cookie Shot </li>
  <li> DKA </li>
  <li> Burrata Soft Serve Ice Cream </li>
  <li> Frozen Smore </li>
  <li> ... </li>
</ol>

<br><br>
  Shortcuts: <br>
  <button><a href="/home"> Home </a></button><br>
  <button><a href="/madlibify"> Madlibify </a></button><br>
  <button><a href="/funny"> Funny Meme </a></button><br>
  <button><a href="/bondify"> Bondify </a></button><br>
  <button><a href="/student"> Student </a></button><br>
  <button><a href="/lotto"> Lotto </a></button><br>


</body>


</html>


