<!DOCTYPE html>

<html>

<title>Home</title>

<h1>Welcome!!</h1> 

<body> 

This is my homepage. My name is David Rothblatt. 

Check these things out: 
  <br><br> <br>
  <button><a href="/bondify"> Bondify </a></button><br>
  <button><a href="/madlibify"> Madlibify </a></button><br>
  <button><a href="/funny"> Funny Meme </a></button><br>
  <button><a href="/cronut"> Cronut </a></button><br>
  <button><a href="/student"> Student </a></button><br>
  <button><a href="/lotto"> Lotto </a></button><br>
  <button><a href="/login"> Login </a> </button><br>
</body>

</html>



