<!DOCTYPE html>

<html>

<title>Home</title>

<h1>Welcome!!</h1> 

<body> 

This is my homepage. My name is David Rothblatt. 

Check these things out: 
  <br><br> <br>
  <button><a href="localhost:8000/bondify"> Bondify </a></button><br>
  <button><a href="localhost:8000/madlibify"> Madlibify </a></button><br>
  <button><a href="localhost:8000/funny"> Funny Meme </a></button><br>
  <button><a href="localhost:8000/cronut"> Cronut </a></button><br>
  <button><a href="localhost:8000/student"> Student </a></button><br>
  <button><a href="localhost:8000/lotto"> Lotto </a></button><br>
  <button><a href="localhost:8000/login"> Login </a> </button><br>
</body>

</html>



