<!DOCTYPE html>

<html> 
<title> Mad Lib </title>
<h1> Mad Lib </h1> 
<br>

The <u>{{d['adj']}}</u> <b>{{d['animal']}}</b> liked to <i>{{d['verb']}}</i> before bed. 
<br><br>
  Shortcuts: <br>
  <button><a href="/home"> Home </a></button><br>
  <button><a href="/bondify"> Bondify </a></button><br>
  <button><a href="/funny"> Funny Meme </a></button><br>
  <button><a href="/cronut"> Cronut </a></button><br>
  <button><a href="/student"> Student </a></button><br>
  <button><a href="/lotto"> Lotto </a></button><br>
</html>
