<!DOCTYPE html>

<html>

  <title> Student Info </title>
  <h1> Hello There </h1> 

  <body> <b>
    <b> Student Profile </b> <br> <br>
    Last Name: {{d["last"]}}<br>
    First Name: {{d["first"]}} <br>
    Student ID: {{d["id_num"]}}<br>
    GPA: {{d["gpa"]}}<br><br><br>
    </b>

    To use: <br>
    localhost:8000/student/< last name >/< first name >/< student id >/< gpa >
    <br><br>
    Shortcuts: <br>
 	<button><a href="/home"> Home </a></button><br>
  	<button><a href="/madlibify"> Madlibify </a></button><br>
  	<button><a href="/funny"> Funny Meme </a></button><br>
  	<button><a href="/cronut"> Cronut </a></button><br>
  	<button><a href="/bondify"> Bondify </a></button><br>
  	<button><a href="/lotto"> Lotto </a></button><br>

 </body>

</html>
