{% extends "page.html" %}

{% block content %}

<div>
  
  <form action="/list" method="POST">
    <ul>
      <li>Question:  <input type="text" class="in" name="question"></li>
      <br>
      <li>Option 0:  <input type="text" class="in" name="0"></li>
      <br>
      <li>Option 1:  <input type="text" class="in" name="1"></li>
      <br>
      <li>Option 2:  <input type="text" class="in" name="2"></li>
      <br>
      <li>Option 3:  <input type="text" class="in" name="3"></li>
      <br>
      <li>Option 4:  <input type="text" class="in" name="4"></li>
      <br>
      <li>Option 5:  <input type="text" class="in" name="5"></li>
      <br>
      <li>Option 6:  <input type="text" class="in" name="6"></li>
      <br>
      <li>Option 7:  <input type="text" class="in" name="7"></li>
      <br>
      <li>Option 8:  <input type="text" class="in" name="8"></li>
      <br>
      <li>Option 9: <input type="text" class="in" name="9"></li>
      <br>
      <li><input type="submit" name="submit"></li>
    </ul>
  </form>

</div>

{% endblock %}
