<!DOCTYPE html>
<html>

<head>
  <title>The Pokedex</title>
</head>

<body>
<h1>The Pokedex</h1>
    <h2>Choose a generation!</h2>
    <br>
    <button> <a href = "/gen1">Gen I</a> </button>
    <br> <br>
    <button> <a href = "/gen2">Gen II</a> </button>
    <br> <br>
    <button> <a href = "/gen3">Gen III</a> </button>
    <br> <br>
    <button> <a href = "/gen4">Gen IV</a> </button>
    <br> <br>
    <button> <a href = "/gen5">Gen V</a> </button>
    <br> <br>
    <button> <a href = "/gen6">Gen VI</a> </button>
    <br> <br> <br> <br>
    <button> <a href = "/about">About the Pokedex</a> </button>
    <br> <br>
    <button> <a href = "/login">Login</a> </button>
</body>

</html>
