<!DOCTYPE html>

<html>
  <head>
    <title>
      Log in - Pokedex
    </title>
  </head>

  <body>
    {% if error %}
    <h1 style="color:red;">
      {{ error }}
    </h1>
    {% endif %}
    
    {% if m %}
    <h2 style="color:green;">
      {{ m }}
    </h2>
    {% endif %}
    
    <form method = "POST">
      Username:<input type="text" name="u" placeholder="Username">
      Password:<input type="password" name="p" placeholder="Password">
      <input type="submit" value="Login!">
    </form>
  </body>
  
</html>
