<!DOCTYPE html>
<html>
    <head>
        <title>The Times!</title>

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
	
        <link href="../static/main.css" rel="stylesheet" type=text/css>
    </head>
    
    <body>
        <h1><center>The Times</center></h1>
        
        <div class="container">
            <form role = "form">
                <div class="input-group">
                    <input type = "text" name = "query" placeholder = "Enter a Category Here..." id = "form-input" class = "form-control input-lg">
                    <span class = "input-group-btn">
                        <button type="submit" id = "form-btn" class="btn btn-default">Submit</button>
                    </span>
                </div>
            </form>
        </div>
        
        <br>
        <hr>
        <br>
        
        <div id="main" class="container">
            <h2 id = "title">Loading...</h2>
            <h3 id = "author"></h3>
            
            <br>
            <br>
            
            <p id = "summary"></p>

	    <br>

	    <a href="#" target="_blank" id="link"></a>
        </div>
        
        <script src="../static/script.js"></script>
    </body>  
</html>
