<style>
  #style1{
  background-color: black;
  color: white;
  text-align: left;
  padding: 0px;
  }
  #style2{
  background-color: black;
  color: white;
  }
  #style3{
    text-align: center;
  padding: 100px;
  }
</style>

<div id = "style1">
  Coins: {{coins}}
</div>
<body id = "style2">
  <div id = "style3">
    <h1> You have {{status}} {{betting}} coins!</h1>
    <br>
    <br>
    <h2>You have reached the end of the quiz!</h2>
    <br>
    <h2>Congratulations on winning {{coins}}!!</h2>
    </form>
  </div>
</body>

