<style>
  #style1{
  background-color: black;
  color: white;
  text-align: left;
  padding: 0px;
  }
  #style2{
  background-color: black;
  color: white;
  }
  #style3{
    text-align: center;
  padding: 100px;
  }
</style>

<div id = "style1">
  Coins: {{coins}}
  <br>
  Betting: {{betting}}
</div>
<body id = "style2">
  <div id = "style3">
    <h3> You are betting {{betting}} coins on this question</h3>
    <h1>Question {{questionnum}}: Which state was the last to ratify the Constitution?</h1>
    <form action = "questionpost" method = "POST">
      <input type = "radio" name = "q5" value = "0">New York</input><br>
      <input type = "radio" name = "q5" value = "1">North Carolina</input><br>
      <input type = "radio" name = "q5" value = "2">South Carolina</input><br>
      <input type = "radio" name = "q5" value = "3">Rhode Island</input><br>
      <input type = "radio" name = "q5" value = "4">Virgina</input><br>
      <input type = "hidden" name = "questionnum" value = "5">
      <input type = "hidden" name = "betting" value = {{betting}}>
      <input type = "hidden" name = "coins" value = {{coins}}>
      <input type = "submit" value = "Submit">
    </form>
  </div>
</body>
