body {
  text-align: center;
  background-color: #ADD8E6;
}

table, th, td {
  align-self: center;
  border: 3px solid #EE82EE;
  border-collapse: collapse;
}

th, td {
  padding: 5px;
}

/*Classes*/
.error {
  color:red;
}

.head1 {
  color: #0000FF;
}

.head3 {
  color: #000000;
}

.red {
  color:red;
}

.green {
  color:green;
}

.blue {
  color:blue;
}
