/*This should be the left column*/

#todo {
}
#leftdiv {
  width:50%;
  float:left;
}

/*This should be the right column*/

#done {
}

#rightdiv {
  width:50%;
  float:right;
}

/*Color stuff*/

.gold {
  color:#FFD700;
}

.leftp {
  color:
}

.rightp {
  /*Midnight blue*/
  color:#191970;
}

.red {
  /*FireBrick*/
  color:#B22222;
}

.blue {
  /*Midnight blue*/
  color:#191970;
}

.highlight {
  color:#FFD700;
}
