<!DOCTYPE html>

<style>

td {border-style:solid; border-width:1;}

body {background-color: #d0e4fe;}

h1 {color: orange; text-align: center;}


h2 {color: red; text-align: right;}

</style>


<h1>Home</h1>

<h2>This is a calculator, use x/d/p/m to set the operation and a/b to set inputs, in the format of Operator/A/B </h2>

<h3> {{ b }} {{ a }} {{ c }} equals {{ d }}</h3>
<hr>

<h4> I have nothing to say, have some blatant advertizing </h4>

<marquee behavior="scroll" direction="left"><a href= "http:dailytechnomancer.com/"> VISIT MY WEBSITE </a></marque>

<button><a href= "http:dailytechnomancer.com/"> VISIT MY WEBSITE </a></button>
