<!DOCTYPE html>
<html>
  <!-- Source of the Map API -->
  <style>
    html{
    height:100%;
    }
    body{
    height:100%;
    }
    #map-canvas{
    height:100%;
    }
  </style>
  <head>
    <title>RIoGuessr</title>
  </head>
  
  <body>
    <!-- Displays the Map -->
    <div id="map-canvas">
      
    </div>
  </body>
  <script src="https://code.jquery.com/jquery-2.1.4.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
  <script src="../static/map.js"></script>
</html>
