<!DOCTYPE html>

<head>
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div>
    {% if error %}
    <b>{{error}}</b>
    {% endif %}
    <form method = "POST">
        Username: <input type="text" name="user"><br>
        Password:  <input type="password" name="pswd"></p>
        <input type="submit" name="submit" value = "Login">
    </form>
    <button><a href = "/about">About</a></button><br>
    username = stuyvesant | password = 123456789   
    <div>
</body>
