<!DOCTYPE html>

<html>
  <head>
    <link rel='stylesheet'
          href="/static/styles.css" />
  </head>
  <body>
    <a href='/test'>Hi</a>
    <br />
    <b>Method:</b> {{ request.method }}
    <br />
    <b>Headers:</b> {{ request.headers }}
    <br />
    <b>Data:</b> {{ request.data }}
    <br />

    <form action='/test' method='GET'>
      name: <input type='text' name='name' />
      <br />
      b: <input type='text' name='b' />
      <br />
      <input type='submit' value='submit' />
    </form>
  </body>

</html>
