<html>
  <style>
    body {
    background-color: #accff1;
    color: #000066;
    }
  </style>
  <body>
    <center>
    <h1> Learn about me! </h1>
    <h6> please don't </h6>
    <table border = "1" >
      <tr>
	<th> Three Things That Describe Me </th>
	<th> Three Things That Don't Describe Me </th>
      </tr>
      <tr>
	<td>Cats</td>
	<td>Funny</td>
      </tr>
      <tr>
	<td> Totally Serious</td>
	<td>Promise Breaker</td>
      </tr>
      <tr>
	<td>Finishes what he starts</td>
	<td> </td>
      </tr>
    </table>
    <a href="http://0.0.0.0:8000/"> If you're homesick, click here (I know I am...please take me home)</a>
    </center>
  </body>
</html>
