<!DOCTYPE html> 

<head> 
  <title>hello again</title>
</head>
<body>
<h1>obligatory table to show i still recall a little bit of html</h1> 

<table border="1">
<tr>
<th>this</th>
<th>table</th>
<th>has</th>
<th>headings!</th>
<th>that's</th>
<th>COOL</th>
</tr>
<tr>
<td>this</td>
<td>is</td>
<td>a</td>
<td>table</td>
<td>read</td>
<td>horizontally</td>
</tr>
<tr>
<td>here</td>
<td>is</td>
<td>another</td>
<td>row</td>
<td>with</td>
<td>stuff</td>
</tr>
<tr>
<td>this</td>
<td>one</td>
<td>is</td>
<td>less</td>
<td>box things.</td> 
</tr>
</table>
<br>
<h1>cat pic!</h1>
<br>
<img src="http://i.ytimg.com/vi/icqDxNab3Do/maxresdefault.jpg" width="600" height="400"> 
<br> 
<font color=blue> i feel, cat </font> 

</body>


