<!DOCTYPE HTML>
<head>
  <title>{{ name }}'s Interests</title>
  <style> 
    body {
    background: url({{ u }});
    background-size: 1400px 875px;
    }
</style>
</head>
<body>
  <font color = {{ c }}>
  <h1><center>{{ name }}'s Interests</center></h1>
  <br>
  <hr>
  <br>
  <center>
    <table>
      <tr>
	<th>Things I like<br>(In no order):</th>
	<th>Things I dislike<br>(First 3 that I thought of)</th>
      </tr>
      <tr>
	<td>
	  <ul>
	    {% for item in interests %}
	      {% if item == interests[r] %}
	        <li><b>{{item}}</b></li>
	      {% else %}
	        <li>{{item}}</li>
	      {% endif %}
	    {% endfor %}
	  </ul>
	</td>
	<td>
	  <ol>
	    {% for item in dislikes %}
	    <li>{{dislikes[item]}}</li>
	    {% endfor %}
	  </ol>
	</td>
      </tr>
    </table>
  </center>
  </font>
</body>
</HTML>
