<!DOCTYPE html>
<html>
  <h1>My Interests</h1>
  <h2>Here are just a few things that provide entertainment for me:</h2>
  <dl>
    <dt style="font-size:150%">Sports</dt>
    <dd>- Ever since I was little, I was always playing in my backyard. Because my backyard was shared with my neighbors, I always played some kind of sport with them. This was what got me into sports.</dd>
    <dd>- My favorite sport is basketball. My favorite team in the NBA is the <a href="https://en.wikipedia.org/wiki/Los_Angeles_Lakers">Los Angeles Lakers</a></dd>
  </dl>
    <center>
      <img src="http://ecx.images-amazon.com/images/I/71HMHuhDrxL._SL1250_.jpg" height="100"><br>
      <hr>
      <a href="/">Return back to Home</a>
    </center>
</html>
