<!DOCTYPE HTML>
<style> 
  body {background-color: #d0e4fe; } 
</style>
<h1>what do these theories about attention mean?</h1>
<table>
  <tr><th>in space</th></tr>
  <tr><td>sequential: attention is allocated to one stimulus (or a small group) at a time
  </td></tr>
  <tr><td>parallel: attention is divided among a group of stimuli
  </td></tr>
  <tr><th>in time</tr></th>
  <tr><td>continuous: attentional deployment is sustained over time
  </td></tr>
  <tr><td>periodic: attentional deployment drops off every few ms
  </td></tr>
</table>

