<!DOCTYPE html>
<html>
<head>
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,500' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/css/materialize.min.css"> 
    <link rel="stylesheet" type="text/css" href="css/index.css" />
    <style>
    p, ul{
/*        margin:20px;
*/    }
    .card{
        padding:5px;
    }
    img{
        width:100%;
        height:auto;
    }
    #top{
      background-color: #CCC;
      text-align:center;
    }
    #top a{
      margin: 10px;
    }
    #top a:hover{
      font-size:1.5em;
    }
    </style>
    <title>Pictures</title>
</head>
<body>
    <div id="top"><a href="/">Home Page</a><a href="/about">Events Page</a></div>
    <h1>This are NYC Events</h1>
    <p>There is no consistency to the styling between different pages. Oh well.</p>
    <div class="row">
        {% for event in events %}
        <div class="card col s6">
            <div class="card-image waves-effect waves-block waves-light">
            <a href="{{event.img}}">
              <img src="{{event.img}}">
            </a>
          </div>
          <div>
            <span class="card-title grey-text text-darken-4">{{event.name}}</span><br>
            at {{event.address}}
          </div>
      </div>
      {% endfor %}
  </div>
</body>

<!-- 3rd Party JS Libraries -->
<script type="text/javascript" src="lib/materialize.min.js"></script>
</script>
</body>
</html>