<!DOCTYPE html>
<html>
  <head>
    <title>Your Daily Horoscope</title>
  </head>
  <body>
      <table>
	<tr>
	  <th>Horoscope of the Day</th>
	</tr>
	<tr>
	  <td>Aries</td>
	  <td>The stars and planest will not affect your life in any way</td>
	</tr>
	<tr>
	  <td>Taurus</td>
	  <td>The stars and planest will not affect your life in any way</td>
	</tr>
	<tr>
	  <td>Gemini</td>
	  <td>The stars and planest will not affect your life in any way</td>
	</tr>
	<tr>
	  <td>Cancer</td>
	  <td>The stars and planest will not affect your life in any way</td>
	</tr>
	<tr>
	  <td>Leo</td>
	  <td>The stars and planest will not affect your life in any way</td>
	</tr>
	<tr>
	  <td>Virgo</td>
	  <td>The stars and planest will not affect your life in any way</td>
	</tr>
	<tr>
	  <td>Libra</td>
	  <td>The stars and planest will not affect your life in any way</td>
	</tr>
	<tr>
	  <td>Scorpio</td>
	  <td>The stars and planest will not affect your life in any way</td>
	</tr>
	<tr>
	  <td>Sagittarius</td>
	  <td>The stars and planest will not affect your life in any way</td>
	</tr>
	<tr>
	  <td>Capricorn</td>
	  <td>The stars and planest will not affect your life in any way</td>
	</tr>
	<tr>
	  <td>Aquarius</td>
	  <td>The stars and planest will not affect your life in any way</td>
	</tr>
	<tr>
	  <td>Pisces</td>
	  <td>The stars and planest will not affect your life in any way</td>
	</tr>
      </table>
      <br>
      100% accurate all of the time, every time! Oh my.
      <br>
      <a href="/">Click here to go back home </a>
  </body>
</html>
