<!DOCTYPE html>

<head>
  <title>Home</title>
  <link rel="stylesheet" type="text/css"  href="style.css">
</head>

<body>
  <h1>This is the home page</h1>
  <h6>I'm using a template! I don't know why my css isn't working :(</h6>

  <p>Exciting stuff. I like how it automatically updates itself</p>
      
  <ul>Things that are cool
    <li>flask</li>
    <li>Pope Francis</li>
    <li>Antartica</li>
  </ul>

<p>Here I am sending the template the current date: {{time}}</p>

<form method="get" action="name">
  Name:
  <input type="text" name="name">
  <input type="submit" value="Submit">
</form>

</body>
