
body{
  padding:25px;
  align:center;  
}

ul{
  float:left;
  margin-left:20%;
  list-style:none outside none;
  padding:0;
}

#todo{
  background-color:orange;
  color:brown;
}
#finished{
  background-color:green;
  color:red;
}

.red{
  color:red;
}

.blue{
  color:blue;
}

li{
  border:3px black solid;
  padding-top:10px;
  padding-bottom:10px;
  padding-left:25px;
  padding-right:25px;
}

li.title{
  font-size:24px;
}

li.hover{
  color:blue;
  cursor:pointer;
  background-color:white;
}
