html{
  height: 100%;
}

#body{
  height: 100%;
  background-color: #75509B;
}

#main{
  min-height: 50%;
  width: 50%;
  margin: auto;
  margin-top: 5%;
  background-color: #39B9A1;
  border-radius: 30px;
  padding: 5%;
  display: table;
}

.maincell{
  display: table-cell;
}

#next{
  display: table-cell;
  width: 25%;
  background-color: #FFD9DE;
  border-radius: 40px;
}

#add-task{
  width: 50%;
  height: 25%;
}

#main2{
  display: none;
}

#drake{
  display: none;
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
  margin: auto;
}
