<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html> <head>
<title>My Favorite Fencers</title>
</head>

<body>
<h1>Favorite Fencers</h1>
<table border="1">
  <tr>
    <td> Epee </td>
    <td> Foil </td>
    <td> Sabre </td>
  </tr>
  <tr>
    <td> Pavel Kolobkov </td>
    <td> Yuki Ota </td>
    <td> Aleksey Yakimenko </td>
  </tr>
  <tr>
    <td> Matteo Tagliariol </td>
    <td> Race Imboden </td>
    <td> Kamil Ibragimov </td>
  </tr>
</table>



<hr>
<address></address>
<!-- hhmts start -->Last modified: Fri Sep 25 01:02:45 EDT 2015 <!-- hhmts end -->
</body> </html>
