<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html> <head>
<title>Welcome to Nicholas Yang's website</title>
</head>

<body>
<h1>Hello {{username}}!</h1>

<button><a href="/about">About</a></button>
<button><a href="/favoriteFencers">My favorite fencers</a></button>
<button><a href="/login">Login</a></button>
<button><a href="/mypage">Your userpage</a></button>
<button><a href="/logout">Logout</a></button>
<hr>
<address></address>
<!-- hhmts start -->Last modified: Thu Oct  1 18:16:53 EDT 2015 <!-- hhmts end -->
</body> </html>
