<!DOCTYPE HTML>
<h1>Specs</h1>
<a href="/home">Back to Home</a><br>
<br><img src="http://thumbs2.ebaystatic.com/d/l225/m/mGF-knSYg2znLw8W0xLdZtw.jpg"/><br>
Network Technology GSM/HSPA<br><br>
Released August of 2010<br><br>
Dimensions 108 x 56 x 12.3 mm (4.25 x 2.20 x 0.48 in)<br><br>
Weight	102 g (3.60 oz)<br><br>
SIM Mini-SIM<br><br>
DISPLAY TFT capacitive touchscreen, 16M colors<br><br>
Size 2.8 inches (~40.1% screen-to-body ratio)<br><br>
Resolution 240 x 320 pixels (~143 ppi pixel density)<br><br>
PLATFORM OS Android OS, v2.1 (Eclair), upgradable to v2.2 (Froyo)<br><br>
CPU 600 MHz<br><br>
MEMORY	Card slot microSD, up to 16 GB, 1 GB included<br><br>
Internal 170 MB<br><br>
CAMERA Primary 2 MP, 1600 x 1200 pixels<br><br>
Features Geo-tagging, smile detection<br><br>
Video 320p@15fps<br><br>

