body {
  font-family: 'Open Sans', sans-serif;
}
.form-container {
  width: 500px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 70px;
  text-align: center;
}
.form-title {
  font-size: 28px;
}
.form-error {
  color: red;
  font-size: 16px;
}
.form-label {
  font-size: 20px;
}
.form-boxes {
  width: 300px;
  height: 25px;
  border: 1px solid black;
  padding-left: 5px;
}
.form-boxes:focus {
  outline: none;
}
.form-button {
  width: 80px;
  height: 30px;
  border: 1px solid black;
  background: transparent;
  display: block;
  font-size: 12px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}
.form-button {
  outline: none;
}
.form-button:hover {
  cursor: pointer;
}
.search-bar {
  width: 400px;
  height: 25px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid black;
  display: block;
}
.search-button {
  width: 80px;
  height: 29px;
  border: 1px solid black;
  background: transparent;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 10px;
}
.trend-container {
  height: 300px;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}
