<!DOCTYPE html>

<html>
  <head>
    <title> Ball Top 10s </title>
    <h1 align="center"> Basketball Top 10s </h1>
  </head>

  <body>
  </center>Select an option</center><br><br>
  <center><button type="button" id="PPG"> Top 10 Points Per Game </button>
  <button type="button" id="APG"> Top 10 Assists Per Game </button>
  <button type="button" id="RPG"> Top 10 Rebounds Per Game </button>
  <button type="button" id="BPG"> Top 10 Blocks Per Game </button></center>
  <br><br>
  {% if top10 %}
  <ol>
  {% for i in top10 %}
     <li> {{i}} </li>
  {% endfor %}
  </ol>
  {% endif %}  
  <br><br>
  Advanced stats:
  </body>

</html>
