<!DOCTYPE html>

<html>
  <head>
    <title> Ball Top 10s </title>
    <h1 align="center"> Basketball Top 10s </h1>
  </head>

  <body>

  <h1><center> Pick a top 10 list to look at: </center></h1><br><br>
	<button id="PPG">Points Per Game</button>
	<button id="APG">Assists Per Game</button>
	<button id="RPG">Rebounds Per Game</button>
	<button id="BPG">Blocks Per Game</button>

	<p id="results"></p>
	  
  <!--br><br>
  {% if top10 %}
  <ol>
  {% for i in top10 %}
     <li> {{i}} </li>
  {% endfor %}
  </ol>
  {% endif %}  
  <br><br-->
  Advanced stats:
  <p id="advanced">

  </p>
  </body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="static/mycode.js"></script>

  
</html>
