<!DOCTYPE html>

<html>
  <head>
    <title> Ball Top 10s </title>
    <h1 align="center"> Basketball Top 10s </h1>
  </head>

  <body>
  </center>Select an option</center><br><br>
  <form action='/home' method='POST' role='form'>
  <button type="submit" name = "stat_type" id="PPG"> PPG </button>
  <button type="submit" name = "stat_type" id="APG"> APG </button>
  <button type="submit" name = "stat_type" id="RPG"> RPG </button>
  <button type="submit" name = "stat_type" id="BPG"> BPG </button>
  </form>
  
  <br><br>
  {% if top10 %}
  <ol>
  {% for i in top10 %}
     <li> {{i}} </li>
  {% endfor %}
  </ol>
  {% endif %}  
  <br><br>
  Advanced stats:
  <p id="advanced">
  </p>
  </body>
  <script src="util.js"></script>

</html>
