<!DOCTYPE html>

<html>

<head>
	<title></title>
	<meta charset="UTF-8">
	<!-- Bootstrap from MaxCDN -->
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<!-- Latest compiled JavaScript -->
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	
	<style>
	.list-wrapper {
		overflow: scroll;
		height:800px;
	}
	.num {
		color: #007799;
	}
	#default {
		margin-right: 20px;
	}
	</style>
</head>

<body>

	<div class="container">
		<h1>TITLE</h1>

		<div class="col-sm-6">

			<form>
				<div class="form-group" id="listname">
					<label for="sellist">List Name</label>
					<select class="form-control" id="sellist">

						{% for list in listnames %}
						<option id={{ list|lower|replace(' ', '-') }}>{{list}}</option>
						{% endfor %}
					
					</select>
				</div>

				<div class="form-group">
					<label for="number">Number of Results</label>
					<input type="number" class="form-control" id="number" min="1">
				</div>
				<div class="form-group">
					<button type ="submit" class="btn btn-default" id="submit">Get List</button>
				</div>
			</form>

			<div class="list-wrapper">
				<div class="list-group" id="booklist">
				</div>
			</div>

		</div>
			

		<div class="col-sm-6">
			<span id="default"><label class="radio-inline active"><input type="radio" name="optradio" checked="">Default</label></span>
			<span id="random"><label class="radio-inline"><input type="radio" name="optradio">Random</label></span>

			<h2 id="listtitle"></h2>
			<ul class="list-group" id="intervallist">
			</ul>		
		</div>
	
	</div>

	<script src="../static/script.js"></script>
</body>

</html>
