<!DOCTYPE html>

<html>

<head>
	<title></title>
	
	<!-- Bootstrap from MaxCDN -->
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<!-- Latest compiled JavaScript -->
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>

<body>

	<div class="container">
		<h1>TITLE</h1>

		<div class="col-sm-6">
			<form>
			</form>
		</div>

		<div class="col-sm-6">
		</div>
	</div>

</body>

</html>
