<!DOCTYPE html>

<html>

<head>
	<title></title>
	
	<!-- Stylesheets -->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
	
	<!-- Bootstrap from MaxCDN -->
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<!-- Latest compiled JavaScript -->
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>

<body>
	<div class="container">
		<div class="col-sm-6">
			<p>hi</p>
		</div>
		<div class="col-sm-6">
			<p>hi</p>
		</div>	
	</div>
</body>

</html>
