<!DOCTYPE html>
<html>
  <meta charset="utf-8">
  <title>Stock</title>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/home">Stock</a>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      </div>
    </div>
  </nav>

  <div class="row">

    <div class="col-sm-8" id="user">
      <h1>User Interface</h1>
      <button type="button" id="profit" class="btn btn-success">Profit</button>
      <button type="button" id="lose" class="btn btn-danger">Lose</button>
      <hr>
    </div>
    <div class="col-sm-4">
      <h1>Stock</h1>
      <div class="container">                               
        <table class="table table-condensed">
          <thead>
            <tr>
              <th>Company</th>
              <th>Profit</th>
            </tr>
          </thead>
          <tbody id="profitLose">
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<script src = "../static/data.js"></script>

</html>
